@import 'partage.css';
@import 'faq.css';
@import 'footer.css';
@import 'home.css';

* {
  box-sizing: border-box;
}

body, button {
  font-size: 1.25rem;
  color: var(--dark-color);
  font-family: var(--body-font);
  line-height: 1.3;
}

h1 {
  font-size: 4.5rem;
  font-family: var(--title-font);
}

h2 {
  font-size: 1.5rem;
  font-family: var(--title-font);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}