@import "news.css";

* {
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: var(--main-font);
  font-size: 4.5rem;
  letter-spacing: 0.12em;
}

h2 {
  font-family: var(--main-font);
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
