:root {
  --primary-color: #2e7d8b;
  --secondary-color: #f2c94c;
  --accent-color: #e57c46;
  --dark-color: #1e2330;
  --light-color: #f7f9fa;

  /* global effect when we point an element with the cursor */
  --timing-pointer-transform: transform 0.3s;
  --timing-pointer-shadow: box-shadow 0.3s;
  --pointer-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --pointer-scale: 1.03;

  --title-font: "Bebas Neue", sans-serif;
  --body-font: "Montserrat", sans-serif;
}
