:root {
  --primary-color: #2e7d8b;
  --secondary-color: #f2c94c;
  --accent-color: #e57c46;
  --dark-color: #1e2330;
  --light-color: #f7f9fa;

  --title-font: "Bebas Neue", sans-serif;
  --body-font: "Montserrat", sans-serif;
}
