/* a revoir et a inserer dans index.html*/
@media(max-width: 768px){
    #logo{
        height: 3rem;
    }
}

/* -----------------le Header ==> le logo et la nav barre ---------------*/
header{
    background-color: var(--dark-color) ;
    height: 100px;
    color: var(--light-color);
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 30px;
}

#logo_img {
    height: 4rem; /* demander la taille idéal pour un logo dans un header*/
    width: auto;
    max-width: 100%;
    border-radius: 50%;

}

nav ul{
    display: flex;
    gap: 10px;
}

/*modification pour l'animation de la nav barre*/
nav ul li{
    list-style: none;
    display: inline-block;
    padding : 13px 30px; /* a revoir*/
    font-weight: 500; /* defini l"épaisseur du texte*/
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li::after{
    content: " " ;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top : 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

nav ul li:hover::after{
    top: -50%;
    opacity: 1; 
}

nav a{
    text-decoration: none;  
    font-family: var(--main-font);
    color: var(--light-color);
}

/* -----------------le Header ==> le logo et la nav barre ---------------*/

/* ---------------devenez Bénévole -------------*/

.devenez_benevole {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  grid-template-rows: 1fr 1fr;    /* Deux lignes */
  /*gap: 10px;                      /* Espace entre les éléments */
  height: auto;                  /* Exemple de hauteur fixe (tu peux l’enlever si tu veux que ce soit auto) */
  border:10px solid var(--primary-color);
}

.item {
  background-color: var(--light-color);
  display: flex;
 /*align-items: center;*/
  justify-content: center;
  /*font-size: 2rem;*/
 /*border: 2px solid #333;*/
}

.item2 h1{
    font-size: 3.5rem;
    color: var(--primary-color);
    font-family: var(--main-font);
    
}

/* Positionnement des éléments dans la grille */
.item1 {
  grid-column: 1;    /* Colonne 1 */
  grid-row: 1 / 3;   /* Prend les deux lignes (donc même hauteur que 2 + 3) */
  align-items: center;
  height: 150px;
  padding: 40px;
  margin: 40px;
}

.item2 {
  grid-column: 2;    /* Colonne 2 */
  grid-row: 1;       /* Première ligne */
  align-items: end;
  padding: 40px 40px 0 40px;

}

.item3 {
  grid-column: 2;    /* Colonne 2 */
  grid-row: 2;       /* Deuxième ligne */
  justify-content: center;
  padding: 10px 40px 0 40px;
}


/* ---------------devenez Bénévole -------------*/









.home {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Deux colonnes */
  grid-template-rows: 1fr 1fr;    /* Deux lignes */
  /*gap: 10px;                      /* Espace entre les éléments */
  height: auto;                  /* definit la hauteur du conteneur à 100% de la hauteur de la fenetre 100vh*/
/*margin: 10px;*/
}

/*typewritter*/
.animated-text{
    background-color: #f2c94c;
    color: var(--accent-color); /* a revoir avec le black-color qui rend mieux*/
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    font-size: 45px;
    font-weight: 600;
    min-width: 280px;
    padding: 0 0 0 50px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Youtuber";
    color: var(--light-color); /*couleur d'écriture*/
    animation: words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 110%;
    background-color: #f2c94c; /*couleur du derouler cacher*/
    border-left: 2px solid var(--accent-color);
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--dark-color); /*couleur du curseur*/
    }
}

@keyframes words {
    0%,20%{
        content: "aider";
    }
    21%,40%{
        content: "partager";
    }
    41%,60%{
        content: "passer à l'action";
    }
    61%,80%{
        content: "être utile";
    }
    81%,100%{
        content: "de la solidarité";
    }
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.arbre {
  background-color: var(--secondary-color);
  display: flex;
 /*align-items: center;*/
  justify-content: center;
  /*max-height: 200px; ; /* a revoir*/
  /*font-size: 2rem;*/
 /*border: 2px solid #333;*/
}








/* Responsive : une seule colonne sur mobile */
@media (max-width: 768px) {
  .devenez_benevole {
    grid-template-columns: 1fr; /* 1 seule colonne */
    text-align: center;         /* Centre le texte pour un meilleur rendu */
  }
}




/* les photos*/
/* Positionnement des éléments dans la grille */
.photo_section {
  grid-column: 2;    /* Colonne 1 */
  grid-row: 1 / 3;   /* Prend les deux lignes (donc même hauteur que 2 + 3) */
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 150px 0 150px 0;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;

}

/*.photo_columns_haut {
  /*display: grid;
  /*grid-template-rows: repeat(2, 1fr); /* 2 lignes */
  /*grid-template-columns: repeat(3, 1fr); /* 3 colonnes → 2 photos par colonne */
  /*gap: 20px;
  /*justify-items: end;
  align-items: center;
  /*padding: 20px;*/
  /*background-color: var(--secondary-color);*/
 /* grid-column: 2;    /* Colonne 1 */
  /*grid-row: 1 / 3;  /* Prend les deux lignes (donc même hauteur que 2 + 3) *
 
}*/

/*.photo_columns_bas {
  /*display: grid;
  /*grid-template-rows: repeat(2, 1fr); /* 2 lignes */
  /*grid-template-columns: repeat(3, 1fr); /* 3 colonnes → 2 photos par colonne */
  /*gap: 20px;
  /*justify-items: end;
  align-items: center;
  /*padding: 20px;*/
  /*background-color: var(--secondary-color);*/
 /* grid-column: 2;    /* Colonne 1 */
  /*grid-row: 4 / 6;  /* Prend les deux lignes (donc même hauteur que 2 + 3) *
}

/* Style des images */
.photo_section img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.img1 {
    grid-column: 1;
    grid-row: 1;
}

.img2 {
    grid-column: 2;
    grid-row: 1;
}

.img3 {
    grid-column: 3;
    grid-row: 1;
}

.img4 {
    grid-column: 1;
    grid-row: 2;
}

.img5 {
    grid-column: 2;
    grid-row: 2;
}

.img6 {
    grid-column: 3;
    grid-row: 2;
}


.photo_section img{ 
    transform: rotate(10deg);

}
/*
.photo_section img:nth-child(2) { transform: rotate(10deg); }
.photo_columns_haut img:nth-child(3) { transform: rotate(10deg); }
.photo_columns_bas img:nth-child(1) { transform: rotate(10deg); }
.photo_columns_bas img:nth-child(2) { transform: rotate(10deg); }
.photo_columns_bas img:nth-child(3) { transform: rotate(10deg); }








/* Positionnement des éléments dans la grille */
.item1 {
  grid-column: 1;    /* Colonne 1 */
  grid-row: 1 / 3;   /* Prend les deux lignes (donc même hauteur que 2 + 3) */
  align-items: center;
  height: 250px;
  padding: 40px;
  margin: 40px;
}

.item2 {
  grid-column: 2;    /* Colonne 2 */
  grid-row: 1;       /* Première ligne */
  align-items: end;
  padding: 40px 40px 0 40px;

}

.item3 {
  grid-column: 2;    /* Colonne 2 */
  grid-row: 2;       /* Deuxième ligne */
  justify-content: center;
  padding: 10px 40px 0 40px;
}

